<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../files/icons/pencil.png" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <title>tired</title>  
    <style>
      * {
        margin: 0; padding: 0;
        font: 18px 'Inconsolata', monospace;
        overflow: hidden;
      }
      #crumbs {
        position: absolute;
        left: 8px; top: 18px;
      }
      button {
        background-color: darkgreen;
        color: white;
      }
      #msg, button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
      }
      #msg {
        color: blue;
      }
    </style>
    <script>
      const crash = () => {
        const button = document.getElementsByTagName("button")[0];
        button.remove();
        const msg = document.createElement("p");
        msg.id = "msg";
        msg.innerHTML = "your trying you'r'e best";
        document.body.appendChild(msg);
      };
      document.addEventListener("DOMContentLoaded", function(){
        const button = document.getElementsByTagName("button")[0];
        button.addEventListener("click", crash);
      });
    </script>
  </head>
  <body>
    <p id="crumbs"><a href="/">home</a> / ti<span  style="color: red;">red</span></p>
    <button>click here to be less tired</button>
  </body>
</html>