<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head-stuff %>
    <title>new website</title>
    <style>
      body {
        font: 18px 'Inconsolata', monospace;
      }
    </style>
  </head>
  <body>
    <p>hello. no new web thing today because i re-did my website. deployed it as a node.js app using heroku. if you're interested in seeing what i did (not sure why you would be but okay), you can check it out on my <a href="https://github.com/jespajo/site/">github</a>.</p>
  </body>
</html>