<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="../files/icons/pencil.png" />
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
<link href="../style.css" rel="stylesheet">
<title>html to canvas</title>
<style>
* {
  overflow: hidden;
  font-family: monospace; }
body, #crumbs *, #menu * {
  margin: 0;
  max-width: none; }
#crumbs p {
  position: absolute;
  left: 8px; top: 16px; }
#menu {
  text-align: right;
  position: absolute;
  right: 8px; bottom: 30%;
  display: flex;
  flex-direction: column-reverse; }
canvas {
  display: block;
  width: 100%; height: 100%; }
</style>
<!-- Below style is specifically targeted at SVG element -->
<style>
div#page {
  max-width: 600px;
  font-family: monospace;
  padding-top: 49px;
  margin-left: 8px; }
div#page p, td {
  font-size: 16px; }
div#page a {
  text-decoration: underline;
  color: #0000ee; }
div#page td:first-child {
  padding: 0 8px 0 0;
  text-align: right; }
div#page td {
  padding: 0 8px 0 0;
  vertical-align: top; }
</style>
<script>
let width, height;
let main, canvas;
let ctx;
let svg, img;
let html =
  "<div id='page' xmlns='http://www.w3.org/1999/xhtml'>" +
    "<h1>Jesse Paris–Jourdan</h1>" +
    "<p><a>jesseparisjourdan@gmail.com</a></p>" +
    "<p>" +
      "Hello! My name is Jesse. I am a writer, editor and web person. " +
      "I live in Melbourne. I am currently finishing my undergraduate " +
      "Bachelor of Arts with a major in history." +
    "</p>" +
    "<table><tbody>" +
      "<tr>" +
        "<td>10/12/17</td>" +
        "<td><a>natcon by the numbers</a> " +
          "<svg width='13' height='13' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'>" +
            "<g stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'>" +
              "<g transform='translate(0.000000, 1.000000)' fill='%23434343'>" +
                "<path d='M16,13.031 L0.984,13.031 L0.984,0.016 L0.027,0.016 L0,13.95 L0.027,13.95 L0.027,13.979 L16,13.95 L16,13.031 Z'></path>" +
                "<path d='M4.958,7.021 L2.016,7.021 L2.016,11.985 L4.958,11.985 L4.958,7.021 L4.958,7.021 Z'></path> <path d='M9.969,5.047 L7.016,5.047 L7.016,11.969 L9.969,11.969 L9.969,5.047 L9.969,5.047 Z'></path> <path d='M14.953,3.031 L12,3.031 L12,11.978 L14.953,11.978 L14.953,3.031 L14.953,3.031 Z'></path>" +
              "</g>" +
            "</g>" +
          "</svg> " +
          "data viz (d3.js)</td>" +
      "</tr>" +
      "<tr>" +
        "<td>1/10/17</td>" +
        "<td><a>shit city [pdf]</a> " +
          "<svg width='13' height='13' viewBox='0 0 17 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'>" +
            "<g stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'>" +
              "<path d='M16.479,2.536 L14.474,0.546 C13.935,0.00899999997 13.091,-0.019 12.59,0.482 L3.47,9.616 C3.47,9.616 1.158,14.936 1.001,15.366 C0.876,15.706 1.307,16.137 1.605,15.991 C2.085,15.754 7.345,13.471 7.345,13.471 L16.487,4.299 C16.989,3.797 17.018,3.073 16.479,2.536 L16.479,2.536 Z M2.312,13.906 L4.033,10.279 L4.015,10.985 L5.013,10.971 L14.537,1.529 L15.796,2.765 L6.612,11.73 L6.385,12.482 L6.871,12.968 L3.06,14.624 L2.312,13.906 L2.312,13.906 Z' fill='%23434343'></path>" +
            "</g>" +
          "</svg> " +
          "nonfiction</td>" +
      "</tr>" +
    "</tbody></table>" +
    "<p><a>show nonsense</a></p>" +
  "</div>";

// applying css
let parsed = new DOMParser().parseFromString(html, "text/xml");
const rules = document.styleSheets[3].cssRules;
for (let r of rules) {
  const elements = parsed.querySelectorAll(r.selectorText);
  for (let e of elements) {
    for (let i = 0; i < r.style.length; i++) {
      e.style[r.style[i]] = r.style[r.style[i]]; } } };
html = parsed.getElementById('page').outerHTML;

const drawFrame = function() {
  ctx.setTransform(1, 0, 0, 1, 0, 0);
  ctx.clearRect(0, 0, width, height);
  ctx.drawImage(img, 0, 0, width, height);
  // need to add icons manually
  // ctx.translate();
};

const pixelRatio = window.devicePixelRatio || 1;
const resizeCanvas = function() {
  // also works as init()
  const windowWidth =  Math.round(1.0 * window.innerWidth);
  const windowHeight = Math.round(1.0 * window.innerHeight);
  main.style.width = windowWidth + "px";
  main.style.height = windowHeight + "px";
  width = canvas.width = windowWidth * pixelRatio;
  height = canvas.height = windowHeight * pixelRatio;
  svg =
    "data:image/svg+xml," +
      "<svg xmlns='http://www.w3.org/2000/svg' width='" + width + "' height='" + height + "'>" +
        /* failed attempt to get svg to render Inconsolata
        "<defs>" +
          "<style type='text/css'>" +
            "@import url('https://fonts.googleapis.com/css?family=Inconsolata');" +
          "</style>" +
        "</defs>" +
        */
        "<foreignObject width='100%' height='100%'>" +
          html +
        "</foreignObject>" +
      "</svg>";
  img = new Image();
  img.src = svg;
  img.onload = function() {
    drawFrame(); } }

const init = function() {
  main = document.getElementById("main");
  canvas = main.getElementsByTagName("canvas")[0];
  ctx = canvas.getContext("2d");
  const canvasButton = document.getElementById("canvas-button");
  const htmlButton = document.getElementById("html-button");
  canvasButton.addEventListener("click", function(){
    main.innerHTML = "<canvas>";
    init(); });
  htmlButton.addEventListener("click", function(){
    main.innerHTML = html.replace(/%23/g, "#"); });
  resizeCanvas(); }

document.addEventListener("DOMContentLoaded", init);
window.addEventListener("resize", resizeCanvas, false);
</script>
</head>
<body>
<div id="main"><canvas></div>
<div id="crumbs"><p><a href="../">home</a> / html&ndash;canvas</p></div>
<div id="menu">
  <p><a id="canvas-button" href="#">canvas</p>
  <p><a id="html-button" href="#">html</p>
</div>
</body>
</html>
