<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      title
    </title>
  </head>
  <body>
    <div id="header">
      <h1>Jesse Paris–Jourdan</h1>
      <p><a href="/"></a></p>
    </div>

    <div id="post">
      <h1>
        hi there.
      </h1>

    </div>


  </body>
</html>