<!DOCTYPE html>
<html>
  <head>
    <meta name="date" content="20181227">
    <% include ../../partials/head-stuff %>
    <title>transition</title>
    <style>
      /* always */
      * {
        box-sizing: border-box;
        margin: 0; padding: 0;
        font-family: monospace; }
      p#crumbs, div#main {
        position: absolute; }
      p#crumbs {
        font-size: 16px;
        top: 16px; left: 8px; }
      div#main {
        display: flex;
        top: 0; right: 0; bottom: 0; left: 0; }
      div.half {
        flex-grow: 1;
        background-image: linear-gradient(to bottom right, red, yellow); }

      /* depend on size */
      div#main {
        flex-direction: column; }
      @media only screen and (min-width: 700px) {
        div#main {
          flex-direction: row; }
      }
    </style>
    <script>
      const init = () => {
        console.log("init");
      };
      document.addEventListener("DOMContentLoaded", init);
      window.addEventListener("resize", init);
    </script>
  </head>
  <body>
    <div id="main">
      <div class="half" id="one"></div>
      <div class="half" id="two"></div>
    </div>
    <p id="crumbs"><a href="/">home</a> / transition</p>
  </body>
</html>