<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="../files/icons/pencil.png" />
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <style>
    * {
      font-family: 'Inconsolata', monospace;
      box-sizing: border-box; }
    body {
      max-width: 600px; }
    table td {
      padding: 0 8px 0 0;
      vertical-align: top; }
    p, table td {
      font-size: 16px; }
    td:first-child {
      text-align: right; }
  </style>
  <title>stuff</title>
</head>
<body>
  <p><a href="/">home</a></p>
  <h2>stuff</h2>
  <table>
    <tbody>
      <% ds.forEach(function(d) { %>
        <tr>
          <td><%= d.date %></td>
          <td>
            <a href="<%= d.url %>">
              <%= d.title %>
            </a>
          </td>
        </tr>
      <% }); %>
    </tbody> 
  </table>
</body>
</html>
