<!doctype html>
<html>
  <head>
    <% include ../partials/head-stuff %>
    <title>Jesse Paris&ndash;Jourdan</title>
    <style>
      * {
        font-family: 'Inconsolata', monospace; }
      body {
        position: absolute;
        left: 0; top: 0; right: 0; bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      div#main {
        max-width: 700px; }
      p {
        font-size: 18px; }
    </style>
  </head>
<body>
  <div id="main">
    <h1>Jesse Paris–Jourdan</h1>
    <p><a href="mailto:jesseparisjourdan@gmail.com">jesseparisjourdan@gmail.com</a></p>
    <p>
      Hello! My name is Jesse. I am a writer, editor and web person. I live in Melbourne. I am currently finishing my undergraduate Bachelor of Arts with a major in history.
    </p>
    <p><a href="d">/d/etritus</a></p>
    <div style="height: 200px; width: 10px;"></div>
  </div>
</body>
</html>